<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>News Scraper</title>

	<!-- Compiled and minified Materialize CSS -->
	<!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<style>
#banner {
  min-height: 380px;
  line-height: 0;
  height: auto;
  width: 100%;
  background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HPOKFbR/crumpled-paper-as-background-stop-motion-animation_s39hbcho__F0000.png);
}

nav {
    background: teal;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
}

h5 {
    font-family: 'Lora', serif;
}

.card .card-title {
    font-size: 18px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
}

.card {
    overflow: hide;
}

.card-content .card-title {
    height: 175px;
}

</style>
</head>
<body>
    {{{ body }}}
</body>
</html>